@model IEnumerable<CleanArchitectureinAspNetMvc5.Vendors.Models.Vendedor>
@{
    ViewBag.Title = "Products";
}


<h2>Products</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.edad)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.edad)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item })
            </td>
        </tr>
    }




</table>
