
@using System.Web.Mvc.Html
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Clean Arquitecture in ASP.Net Proyecto Final</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/Bootstrap.css")" rel="stylesheet" type="text/css"/>
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                
             
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
               <li>@Html.ActionLink("Customer", "Index", "Customer")</li>
                    <li>@Html.ActionLink("Product", "Index", "Product")</li>
                    <li>@Html.ActionLink("Vendor", "Index", "Vendor")</li>


                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy;@DateTime.Now.Year - <a href="http://www.matthewrenze" target="blank">Matthew Renze</a></p>
        </footer>
    </div>
</body>
</html>
